<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>


<main>

  <!-- ご参加いただくメリット -->
  <!-- <%- include('./parts/_p-merit') %> -->

  <!-- ご参加いただくメリット -->
  <%- include('./parts/_p-merit') %>

  <!-- パートナー地域 -->
  <%- include('./parts/_p-partner') %>

  <!-- お申し込み -->
  <%- include('./parts/_p-request') %>

</main>


<%- include('./common/_footer', {pageId:pageId }) %>