<% let pageId  = 'home'; %>

<%- include('./common/_header', {pageId:pageId }) %>

<%- include('./parts/_p-modal') %>

<main>
  <!-- MV -->
  <%- include('./parts/_p-fixed') %>

  <!-- MV -->
  <%- include('./parts/_p-mv') %>

  <!-- メッセージ -->
  <%- include('./parts/_p-lead') %>

  <!-- ご参加いただくメリット -->
  <%- include('./parts/_p-model') %>

  <!-- ご参加いただくメリット -->
  <%- include('./parts/_p-merit') %>

  <!-- パートナー地域 -->
  <%- include('./parts/_p-partner') %>

  <!-- お申し込み -->
  <%- include('./parts/_p-request') %>

</main>


<%- include('./common/_footer') %>