  <div class="<%- class_name %> <%- class_name %>-<%- contents_no %>  js-fadein">
    <%# タイトル %>
    <%- include('./_c-contents-title',  {contents_title: contents_title}) %>
    <%# テキスト %>  
    <%- include('./_c-contents-text',  {contents_text: contents_text}) %>
  </div>